{% extends 'base.html' %}

{% load humanize %}

{% block title %} {{ listing.title }} {% endblock %}

{% block content %}
    <!-- Header -->
    {% include 'partials/header.html' %}
    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}"><i class="fas fa-home"></i> Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'listings' %}">Browse Listings</a>
                    </li>
                    <li class="breadcrumb-item active">{{ listing.title }}</li>
                </ol>
            </nav>
        </div>
    </section>
    <!-- Alerts -->
    {% include 'partials/alerts.html' %}
    <!-- Listing -->
    <section id="listing" class="py-4">
        <div class="container">
            <a href="listings.html" class="btn btn-light mb-4">Back To Listings</a>
            <div class="row">
                <div class="col-md-9">
                    <!-- Home Main Image -->
                    <img src="{{ listing.photo_main.url }}" alt="" class="img-main img-fluid mb-3">
                    <!-- Thumbnails -->
                    <div class="row mb-5 thumbs">
                        {% for photo in listing_photos %}
                            <div class="col-md-2">
                                <a href="{{ photo.url }}" data-lightbox="home-images">
                                    <img src="{{ photo.url }}" alt="" class="img-fluid img-thumb">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Fields -->
                    <div class="row mb-5 fields">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-money-bill-alt"></i> Asking Price:
                                    <span class="float-right">R {{ listing.price | intcomma }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-bed"></i> Bedrooms:
                                    <span class="float-right">{{ listing.bedrooms }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-bath"></i> Bathrooms:
                                    <span class="float-right">{{ listing.bathrooms }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-car"></i> Garage:
                                    <span class="float-right">{{ listing.garage }}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-th-large"></i> Square Feet:
                                    <span class="float-right">{{ listing.sqft }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-square"></i> Lot Size:
                                    <span class="float-right">{{ listing.lot_size }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-calendar"></i> Listing Date:
                                    <span class="float-right">{{ listing.list_date }}</span>
                                </li>
                                <li class="list-group-item text-secondary">
                                    <i class="fas fa-bed"></i> Realtor:
                                    <span class="float-right">{{ listing.realtor }}n</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Description -->
                    <div class="row mb-5">
                        <div class="col-md-12">
                            {{ listing.description }}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card mb-3">
                        <img class="card-img-top" src="{{ listing.realtor.photo.url }}" alt="Seller of the month">
                        <div class="card-body">
                            <h5 class="card-title">Property Realtor</h5>
                            <h6 class="text-secondary">{{ listing.realtor }}n</h6>
                        </div>
                    </div>
                    <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">
                        Make An Inquiry
                    </button>
                </div>
            </div>
        </div>
    </section>
    <!-- Inquiry Modal -->
    {% include 'partials/inquiry_modal.html' %}
{% endblock content %}