{% comment %}
    Project :   BT Real Estate
    Author :    Steve Kamanke
    Version :   1.0
{% endcomment %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Stylesheets -->
        {% include 'partials/head-scripts.html' %}
        <title>BT Real Estate | {% block title %}{% endblock %}</title>
    </head>
    <body>
        <!-- Top Bar -->
        {% include 'partials/nav-bar.html' %}
        <!-- Content -->
        {% block content %}{% endblock %}
        <!-- Footer -->
        {% include 'partials/footer.html' %}
    </body>
</html>